#generate-bill-button:hover {
    background-color: #b3d9ff; /* Change color on hover */
}

#generate-bill-button:active {
    background-color: #99c2ff; /* Change color on click */
}
#generate-bill-button{
    background-color: #cfe8ff;
    color: #051d40;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Libre Baskerville', serif;
    
}    