#addItemDialog {
    align-items: center;
    width: 800px; /* Set the desired width */
    height: 400px;
}

#addItemDialog form {
    padding: 20px; /* Add padding for better spacing */
}
#addItemDialog table {
    padding-right: 100px;
    border: none;

}
#addItemDialog label {
    display: block;
    margin-bottom: 10px;
}

#addItemDialog input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

#addItemDialog button {
    padding: 10px 20px;
    /* margin-right: 50px; */
    margin-left: 200px;
} .confirmation-dialog {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    width:400px;
    height:150px
  }
  
  .confirmation-dialog p {
    margin-bottom: 20px;
  }
  
  .confirmation-dialog button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
  }
  

