                                                                           /* COMMON CSS */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top:0px;
    left:0px;
    height: 100%;
}
.left{
    width:240px;
    color: white;
}
.left-top-box{
    background-color: #cfe8ff;
    height: 90px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.left-mid-box{
    /* margin-top:100px; */
    background-color:#0a305d;
    height: 90px;
    justify-content: left; 
    align-items: center;
    padding-top: 10px; 
}
.mid-text{
    margin-top: -75px;
    margin-left: 100px;
}
.nav-panel {
    /* margin-top:200px; */
    background-color:#051d40;
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
.top-panel {
    margin-left: 240px;
    height: 100px;
    display: flex;
    background-color: #145da0;
    box-sizing: border-box;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.main-container {
    flex-grow: 1;
    display: flex;
    margin-left: 240px;
    /* background-color: white; */
}
.main-left {
    flex-grow: 1;
    /* background-color: #e0e0e0; */
    padding: 20px;
   
}
.main-right {
    flex-grow: 1;
    /* background-color: #f0f0f0; */
    padding: 20px;
}
.main-right h5{          
    /* display: block;
    font-size: 0.83em; */
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; */
}
.main-right input{
    /* border: none; */
    border-bottom: black;
}

                                                                 /* DASHBOARD SPECIFIC */
.data-box {
    /* width : 2 cm;
    height : 2 cm;
    background-color: #acb5b5;
    border-radius: 0.02 cm; */
    /* -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; */
    background-color:#acb5b5 ;
    border-radius: 20px 20px 20px 20px;
    width : 180px;
    height : 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    /* resize: horizontal;
    overflow: auto;
    min-width: 50px; 
    min-height: 50px; */
}

                                                                               /* PENDING TRANSACTION SPECIFIC */

#addCreditButton{
    background-color:#e5f2ff;
}
.top {
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    display: flex;
}

.search-bar-container {
    flex-grow: 1;
    padding: 20px;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 600px;
    height: 30px;
    background-color: #ccc;
    font-size: 18px;
}

.search-bar::placeholder {
    font-size: 20px;
    color: #888;
}
.credit{
    font-size: 30px;
}
.TotalCredit {
    flex-grow: 1;
    padding: 20px;
    background-color: #89A8AF;
    height:50px;
    width:170px;
}
.credit-debit-heading{
    display:flex;
    justify-content: center;
    
    margin-left: 240px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 60px;
    margin-bottom: 30px
}
.credit-debit-left {
    flex-grow: 1;
    background-color: #179151;
    height: 60px;
    /* padding: 20px; */
   
}
.credit-debit-right {
    flex-grow: 1;
    background-color: #d9d9d9;
    height: 60px;
    /* padding: 20px; */
}
.credit-debit-heading a{
    padding: 10px;
    display: inline-block;
}
h1{
    text-align: top;
    margin-top:1px;
    font-size: 20px;
    margin-block-end: 0.2em;
    text-decoration: underline;
   
}
th{
    width: 25%; /* Set equal width for each heading column */
    text-align: center;
    padding: 10px;
}
.First{
    background-color:#E0E9F1;
    padding-bottom: 10px;
}
.Second{
    background-color:#E0E9F1;
    padding-bottom: 10px;
  
}
.Third{
    background-color:#E0E9F1;
    padding-bottom: 10px;
  
}
table {
    border-collapse:seperate;
    width: 80%;
    border: 1px solid #ddd;
    margin-left:240px;
    margin-right:10px;
    padding-left:50px;
    border-spacing: 0 15px;

}
#addCreditDialog {
    width: 400px; /* Set the desired width */
}

#addCreditDialog form {
    padding: 20px; /* Add padding for better spacing */
}

#addCreditDialog label {
    display: block;
    margin-bottom: 10px;
}

#addCreditDialog input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

#addCreditDialog button {
    padding: 10px 20px;
    margin-right: 10px;
}

#add-credit-button {
    background-color: #e5f2ff;
    border-radius: 10px; /* Adjust the value for the desired rounded corner radius */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer; /* Add cursor style for better indication of clickability */
    transition: background-color 0.3s; /* Smooth transition for background color */

    /* Optional: Add box-shadow for a subtle effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#add-credit-button:hover {
    background-color: #b3d9ff; /* Change color on hover */
}

#add-credit-button:active {
    background-color: #99c2ff; /* Change color on click */
}

th, td {
text-align: left;
padding: 16px;
padding-left:50px;
}
.heading{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 50px;
    font-size: 40px;
    margin-left:0px;
    font-family: Arial, Helvetica, sans-serif;
}
                                                                /* SIGN UP SPECIFIC */

* {
    margin:0;
    padding: 0;
}
html,body{
    height: 100%;
}
#sign-up{
    height: 100%;
    width: 700px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color: #F0F8FF;
    padding: 20px;
    margin: 0% auto 0;
    text-align: center
}
#heading1{
    font-size: 60px;
}
.input-box {
    background-color: #cfe8ff;; /* Change this color to your preferred color */
    border: 1px solid #CCCCCC; /* Add border styles if needed */
    padding: 8px; /* Adjust padding as needed */
    font-size: 16px; 
    width: 300px;
    
}
body{
    background-color: #546887;
    text-align: center;
}
#btn1{
    padding: 1rem; 
    font-size: 1.25rem;
    color: #fff;
    border-radius: 1rem;
    border: none;
    text-align: center;
    background-color:rgb(44, 44, 131);
}
#footer {
    width: 100%;
    height: 20px;
    font-size: 20px;
    position: relative ;
    left: 0px;
    right: 0px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    bottom: 0px;
}
.fit-picture {
    width: 250px;
  }

                                                                    /* INVENTORY SPECIFIC */
        .add-item-button {
            background-color: #cfe8ff;
            color: #051d40;
            border: none;
            padding: 15px 40px;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 0px;
            margin-left: 20px;
            /* display: flex;
            align-items: left; */
            font-family: 'Libre Baskerville', serif;
            
        }
        .add-button-container {
            margin-top: 20px;
        }
        .top {
            justify-content: center; /* Center horizontally */
            align-items: center;
            flex-grow: 1;
            padding: 20px;
            display: flex;
        }

        .search-bar-container {
            /* flex-grow: 1; */
            padding: 10px;
            width: 100%;
            margin-left: -10px;
            margin-top: -10px;
            /* position: relative; */
        }

        .search-bar {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 30px;
            width: 95%;
            height: 30px;
            background-color: #ccc;
            font-size: 18px;
            /* position: relative;  */
        }

        .search-icon {
            font-size: 24px;
            margin-right: 10px;
            position: absolute;
            left: 270px;
            top: 195px;
            /* transform: translateY(-50%); */
        }

        .search-bar::placeholder {
            font-size: 22px;
            color: #888;
            position:absolute;
            margin-left: 35px;
            /* left: 100px; */
        }
        .circle {
            width: 50px; /* Diameter is twice the radius */
            height: 50px;
            background-color: #ccc;
            border-radius: 50%;
            position: absolute;
            right: 12px;
            top: 212px;
            transform: translateY(-50%);
        }
        th{
            width: 25%; /* Set equal width for each heading column */
            text-align: center;
            padding: 10px;
        }
        table {
            border-collapse:seperate;
            width: 95%;
            border: 1px solid #ddd;
            margin-left:35px;
            margin-right:10px;
            padding-left:55px;
            border-spacing: 0 15px;
        }
        /* .First{
            background-color:#E0E9F1;
            padding-bottom: 10px;
            width: 80%;
            /* margin-left: 15px;
        } */
        th, td {
  
            text-align: left;
            padding: 16px;
            /* padding-left:50px; */
        }
        #addItemDialog {
            align-items: center;
            width: 800px; /* Set the desired width */
            height: 400px;
        }

        #addItemDialog form {
            padding: 20px; /* Add padding for better spacing */
        }
        #addItemDialog table {
            padding-right: 100px;
            border: none;

        }
        #addItemDialog label {
            display: block;
            margin-bottom: 10px;
        }

        #addItemDialog input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
        }

        #addItemDialog button {
            padding: 10px 20px;
            /* margin-right: 50px; */
            margin-left: 200px;
        }

        .add-item-button:hover {
            background-color: #b3d9ff; /* Change color on hover */
        }

        .add-item-button:active {
            background-color: #99c2ff; /* Change color on click */
        }

                                                                            /* INVOICE SPECIFIC */
       .top {
            justify-content: center; /* Center horizontally */
            align-items: center;
            flex-grow: 1;
            padding: 20px;
            display: flex;
        }
        .bottom {
            justify-content: center; /* Center horizontally */
            align-items: center;
            flex-grow: 1;
            padding: 20px;
            display: flex;
        }
        .search-bar-container2 {
            flex-grow: 1;
            padding: 20px;
            text-align: left;
            margin-left: 250px;
            width: 200px;
            margin-bottom: 4px;
        }
        
        #add-new-item{
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 30px;
            width: 200px;
            height: 30px;
            background-color: #0096ff;
            font-size: 12px;
            margin-left: 450px;
            text-align: center;
            
        }
        #scan-using-barcode{
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 30px;
            width: 200px;
            height: 30px;
            background-color: #0096ff;
            font-size: 12px;
            margin: 45px;
            text-align: center;
            margin-bottom: 4px;
        }
        #add-as-credit{
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 30px;
            width: 200px;
            height: 30px;
            background-color: #0096ff;
            font-size: 12px;
            margin-left: 45px;
            text-align: center;

        }
        #preveiw-bill{
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 30px;
            width: 200px;
            height: 30px;
            background-color: #0096ff;
            font-size: 12px;
            margin: 45px;
            text-align: center;
            
        }
        #generate-bill{
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 30px;
            width: 200px;
            height: 30px;
            background-color: #0096ff;
            font-size: 12px;
            margin: 45px;
            text-align: center;
            

        }
        .input-box {
        background-color: #f0f8ff;; /* Change this color to your preferred color */
        border: 1px solid #CCCCCC; /* Add border styles if needed */
        padding: 8px; /* Adjust padding as needed */
        font-size: 16px; 
        width: 400px;
        }
        #footer {
            width: 100%;
            height: 20px;
            font-size: 15px;
            position: relative ;
            left: 0px;
            right: 0px;
            margin: 20px auto;
            text-align: center;
            bottom: 0px;
        }
        #addNewItemDialog {
            width: 400px; 
        }

        #addNewItemDialog form {
            padding: 20px; /* Add padding for better spacing */
        }

        #addNewItemDialog label {
            display: block;
            margin-bottom: 10px;
        }

        #addNewItemDialog input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
        }

        #addNewItemDialog button {
            padding: 10px 20px;
            margin-right: 10px;
        }

        #add-new-item-button {
            background-color: #e5f2ff;
            border-radius: 10px; /* Adjust the value for the desired rounded corner radius */
            padding: 10px 20px; /* Adjust padding as needed */
            cursor: pointer; /* Add cursor style for better indication of clickability */
            transition: background-color 0.3s; /* Smooth transition for background color */

            /* Optional: Add box-shadow for a subtle effect */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        #add-new-item-button:hover {
            background-color: #b3d9ff; /* Change color on hover */
        }

        #add-new-item-button:active {
            background-color: #99c2ff; /* Change color on click */
        }    
