 body.Dashboard, html.Dashboard {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.Dashboard .container {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top:0px;
    left:0px;
    height: 100%;
}
.Dashboard .left{
    width:240px;
    color: white;
}
.Dashboard .left-top-box{
    background-color: #cfe8ff;
    height: 90px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.Dashboard .left-mid-box{
    /* margin-top:100px; */
    background-color:#0a305d;
    height: 90px;
    justify-content: left; 
    align-items: center;
    padding-top: 10px; 
}
.Dashboard .mid-text{
    margin-top: -75px;
    margin-left: 100px;
}
.Dashboard .nav-panel {
    background-color:#051d40;
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
.Dashboard .top-panel {
    margin-left: 240px;
    height: 100px;
    display: flex;
    background-color: #145da0;
    box-sizing: border-box;
}
.Dashboard .nav-link {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.Dashboard .main-container {
    flex-grow: 1;
    display: flex;
    margin-left: 240px;
}
.Dashboard .main-left {
    flex-grow: 1;
    padding: 20px;
   
}
.Dashboard .main-right {
    flex-grow: 1;
    padding: 20px;
}
.Dashboard .main-right h5{          
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}
.Dashboard .main-right input{
    border-bottom: black;
}

.Dashboard .data-box {
    background-color:#acb5b5 ;
    border-radius: 20px 20px 20px 20px;
    width : 180px;
    height : 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}