body.Inventory, html.Inventory {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.Inventory .container {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top:0px;
    left:0px;
    height: 100%;
}
.Inventory .left{
    width:240px;
    color: white;
}
.Inventory .left-top-box{
    background-color: #cfe8ff;
    height: 90px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.Inventory .left-mid-box{
    background-color:#0a305d;
    height: 90px;
    justify-content: left; 
    align-items: center;
    padding-top: 10px; 
}
.Inventory .mid-text{
    margin-top: -75px;
    margin-left: 100px;
}
.Inventory .nav-panel {
    background-color:#051d40;
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
.Inventory .top-panel {
    margin-left: 240px;
    height: 100px;
    display: flex;
    background-color: #145da0;
    box-sizing: border-box;
}
.Inventory .nav-link {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.Inventory .main-container {
    flex-grow: 1;
    display: flex;
    margin-left: 240px;
}
.Inventory .main-left {
    flex-grow: 1;
    padding: 20px;
   
}
.Inventory .main-right {
    flex-grow: 1;
    padding: 20px;
}
.Inventory .main-right h5{          
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}
.Inventory .main-right input{
    border-bottom: black;
}

.Inventory .add-item-button {
    background-color: #cfe8ff;
    color: #051d40;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Libre Baskerville', serif;
    
}
.Inventory .add-button-container {
    margin-top: 20px;
}
.Inventory .top {
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    display: flex;
}

.Inventory .search-bar-container {
    padding: 10px;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
}

.Inventory .search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 95%;
    height: 30px;
    background-color: #ccc;
    font-size: 18px;
}

.Inventory .search-icon {
    font-size: 24px;
    margin-right: 10px;
    position: absolute;
    left: 270px;
    top: 195px;
}

.Inventory .search-bar::placeholder {
    font-size: 22px;
    color: #888;
    position:absolute;
    margin-left: 35px;
}
.Inventory .circle {
    width: 50px; /* Diameter is twice the radius */
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    right: 12px;
    top: 212px;
    transform: translateY(-50%);
}
th.Inventory{
    width: 25%; /* Set equal width for each heading column */
    text-align: center;
    padding: 10px;
}
table.Inventory {
    border-collapse:seperate;
    width: 95%;
    border: 1px solid #ddd;
    margin-left:35px;
    margin-right:10px;
    padding-left:55px;
    border-spacing: 0 15px;
}
th.Inventory, td.Inventory {

    text-align: left;
    padding: 16px;
}
#addItemDialog {
    align-items: center;
    width: 800px; /* Set the desired width */
    height: 400px;
}

 #addItemDialog form {
    padding: 20px; /* Add padding for better spacing */
}
 #addItemDialog table {
    padding-right: 100px;
    border: none;

}
 #addItemDialog label {
    display: block;
    margin-bottom: 10px;
}

#addItemDialog input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

#addItemDialog button {
    padding: 10px 20px;
    margin-left: 200px;
}

 .add-item-button:hover {
    background-color: #b3d9ff; /* Change color on hover */
}

 .add-item-button:active {
    background-color: #99c2ff; /* Change color on click */
}