.Invoice .bottom {
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    display: flex;
}

.Invoice .search-bar-container2 {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
    margin-left: 250px;
    width: 200px;
    margin-bottom: 4px;
}

.Invoice #add-new-item{
    background-color: #cfe8ff;
    color: #051d40;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Libre Baskerville', serif;
    
}

.Invoice .add-button-container {
    margin-top: 20px;
}

.Invoice .top {
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    display: flex;
}
.Invoice #scan-using-barcode{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    background-color: #0096ff;
    font-size: 12px;
    margin: 45px;
    text-align: center;
    margin-bottom: 4px;
}
.Invoice #add-as-credit{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    background-color: #0096ff;
    font-size: 12px;
    margin-left: 45px;
    text-align: center;

}
.Invoice #preview-bill{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    background-color: #0096ff;
    font-size: 12px;
    margin: 45px;
    text-align: center;
    
}
.Invoice #generate-bill{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    background-color: #0096ff;
    font-size: 12px;
    margin: 45px;
    text-align: center;
    

}
.Invoice .input-box {
background-color: #f0f8ff;; /* Change this color to your preferred color */
border: 1px solid #CCCCCC; /* Add border styles if needed */
padding: 8px; /* Adjust padding as needed */
font-size: 16px; 
width: 400px;
}
.Invoice #footer {
    width: 100%;
    height: 20px;
    font-size: 15px;
    position: relative ;
    left: 0px;
    right: 0px;
    margin: 20px auto;
    text-align: center;
    bottom: 0px;
}

#add-new-item:hover {
    background-color: #b3d9ff; /* Change color on hover */
}

.Invoice #add-new-item:active {
    background-color: #99c2ff; /* Change color on click */
}    

.Invoice #invoiceTable {
    padding-top: 200px;
    width: 80%; /* Set the desired width of the table */
    border-collapse: collapse;
}

.Invoice #invoiceTable th, #invoiceTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.Invoice #invoiceTable th {
    background-color: #f2f2f2;
}

#generate-bill-button:hover {
    background-color: #b3d9ff; /* Change color on hover */
}

.Invoice #generate-bill-button:active {
    background-color: #99c2ff; /* Change color on click */
}
.Invoice #generate-bill-button{
    background-color: #cfe8ff;
    color: #051d40;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Libre Baskerville', serif;
    
}    