/* {
    margin:0;
    padding: 0;
}*/
html,body{
    height: 100%;
}
.left-section {
    flex: 1;
    width: 500px;
    height: 100%;
    margin: 0% auto 0;
    background-color: #F0F8FF;
}
.right-section {
    flex: 1;
    text-align: center;
    height: 100%;
    width: 700px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color: #F0F8FF;
    padding: 20px;
    margin: 0% auto 0;
    text-align: center
}

.shift{
    margin-left : 220px;
}
.shift2{
    margin-left : 140px;
}
.shift3{
    margin-left : 220px;
}
.shift4{
    margin-left : 170px;
}
.shift5{
    margin-left : 30px;
}
.center2 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
#heading1{
    font-size: 60px;
}
.logintext {
    font-size: 30px;
}
#sign-in{
    height: 100%;
    width: 700px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color: #F0F8FF;
    padding: 20px;
    margin: 0% auto 0;
    text-align: center
}
.input-box2 {
    background-color: #cfe8ff;; /* Change this color to your preferred color */
    border: 1px solid #CCCCCC; /* Add border styles if needed */
    padding: 8px; /* Adjust padding as needed */
    font-size: 16px; 
    width: 300px;
    margin-right: 10px;
    
}
.Login body{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
#btn2{
    padding: 1rem; 
    font-size:1.25rem;
    color: #fff;
    border-radius: 1rem;
    border: none;
    background-color:rgb(44, 44, 131);
    margin-left: 100px;
}
#footer {
    width: 100%;
    height: 20px;
    font-size: 15px;
    position: relative ;
    left: 0px;
    right: 0px;
    margin: 20px auto;
    text-align: center;
    bottom: 0px;
}
.fit-picture2 {
    width: 600px;
    height: 100%;
}
.fit-picture1{
    width: 30px;
    height: 0%;

}
.left-section {
    flex: 1;
    width: 500px;
    height: 100%;
    margin: 0% auto 0;
    background-color: #F0F8FF;
}
.right-section {
    flex: 1;
    width: 500px;
    height: 100%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color: #F0F8FF;
    padding: 20px;
    margin: 0% auto 0;
    text-align: center;
}
.container {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
}
.fit-picture {
    width: 250px;
  }